@import './styles/vars';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1213px;
  margin: 100px auto;
  gap: 82px;
}

.about {
  display: flex;
  flex-direction: column;
  font-family: $poppins;
  gap: 44px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.subtitle {
  font-weight: 700;
  font-size: 70px;
  color: white;
}

.resume {
  max-width: 803px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.buttonSet {
  display: flex;
  gap: 15px;

  button {
    width: 177px;
    height: 62px;
    font-family: $poppins;
    font-size: 20px;
    background-color: #333333;
    border-radius: 30px;
    color: white;
  }
}

.button1 {
  border: 3px solid #007CED;
}

.button2 {
  border: 3px solid #D5D5D5;
}


.photo {
  border-radius: 50%;
  border: 10px solid #444444;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}