@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@300;400&display=swap');


// Responsive
$sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;


// Fonts
$poppins: 'Poppins', sans-serif;
$permanent-maker: 'Permanent Marker', cursive;